extends layout

block content
  
	script(src='/scripts/pong.js')
	link(type='text/css', rel='stylesheet', href='/stylesheets/pong.css')

	h1 Pong

	#alert
	#board	
		#ball.hidden
		#paddle1.paddle.hidden= 1
		#paddle2.paddle.hidden= 2
		#divider