doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/jquery-1.11.0.min.js')
    script(src='/scripts/require.min.js')

  body
    block content